*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.title {
    letter-spacing: 0.1rem;
    font-style: italic;
    border-bottom: 1px dashed rgb(9,93,119);
    color: rgb(9,93,119);
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1280px;
}

.main-container, .contact, .main-title {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

