.nav-container {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    background: #1888ff;
    margin: 0 auto;
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

.logoBtn {
    display:flex;
    padding:5px 10px;
    border-bottom: 1px solid rgb(168,168,168);
    align-items: center;
    justify-content: space-between;
}

.logoBtn a {
    font-size: 30px;
    color: white;
    width: 85px;
    align-self: center;
    border-radius: 50%;
    opacity: 1;
    box-shadow: none;
}

.logoBtn a:hover {
    opacity: 0.8;
    /* box-shadow: 0 0 1px 3px lightgray; */
}

.logoBtn img {
    width: 85px;
    display: block;
    border-radius: 50%; 
}

 .btn {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem; 
} 

.bar1, 
.bar2,
.bar3 {
    width: 100%;
    height: 3px;
    background: #f4f4f4; 
    transition: all 0.3s ease-in-out;
}

.btn:hover > div {
     background: lightgray;  
}

.animatedBar.bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background: white;
    width: 30px;
}

.animatedBar.bar2 {
    opacity: 0;
}
.animatedBar.bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
    background: white;
    width: 30px;
}

.links {
    width: 100%;
    transform: translateX(-100%);
    position: fixed;
    top: 95px;
    bottom: 0;
    left: 0;
    right: 0; 
    background: #1888ff;
    z-index: 10;
    opacity: 1;
    transition: transform 0.4s ease-in-out;
}

.new-links {
    transform: translateX(0%);
}

.links li a {
    display: block;
    padding: 10px;
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.links li {
    list-style: none;
}

.links li a:hover {
    color: lightgray;
    padding: 10px 20px;
}

.adminLi {
    display: none;
}

.admin{
    color: rgb(93,241,93);
}

@media screen and (min-width: 768px) {
    .logoBtn {
         border: none;
    }
    .btn {
        display: none;
    }

    nav {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    .links {
        position: relative;
        display: flex;
        width: auto;
        top: auto;
        transform: translateX(0%);
    }

    .new-links {
        width: 100%;
        transform: translateX(0%);
        position: relative;
        top: auto;
    }

    .links li a {
        font-size: 18px;

    }

    .links li a:hover {
        padding: 10px;
        background: none;
    }


}

